*{margin: 0; padding: 0; box-sizing: border-box;
    font-family: "Libre Baskerville", "42dot Sans", serif;
    font-weight: 600;}

.shopContainer {
    width: 100%;
    display: flex;
}
.shopContainer .left {
    width: 15%;
    display: flex;
    flex-direction: column;
}
.shopContainer .left .menu a {
    display: block;
    text-decoration: none;
    color: #444;
    width: 100%;
    margin-inline: 20px 50px;
    padding: 20px 30px;
}
.shopContainer .left .menu a:hover {
    color: #000;
    background-color: #f0f0f0;
}
/* 쇼핑 right */
.shopContainer .right {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    padding: 20px;
    border-left: 1px solid #ccc;
}
.shopContainer .right .shopText {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.dropdown {
  position: relative;
  z-index: 1000;
}

.dropdown button {
    width: 100%;
    min-width: 100px;
    padding: 6px 0;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    border: 1px solid #ccc;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1001;
}

.dropdown ul li {
  padding: 8px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background: #eee;
}

.dropdown.open ul {
    display: block;
}

/* 쇼핑 right > Inside */
.shopInside {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}
.shopCard {
    padding: 10px;
    z-index: 1;
}
.product-image {
    position: relative;
}
.product-image img {
    width: 100%;
    border-radius: 6px;
}
.badges {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.badge {
    padding: 3px 7px;
    font-size: 0.7rem;
    border-radius: 4px;
    font-weight: bold;
}
.badge.sale {background: #FF0303; color: #fff;}
.badge.best {background: #fff; color: #FF0303;}
.badge.new {background: #000; color: #fff;}

.product-title {
    font-size: 0.9rem;
    margin: 10px 0 6px;
    line-height: 1.4;
    height: 40px;
    overflow: hidden;
    text-align: center;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    gap: 6px;
}
.price .original {
    text-decoration: line-through;
    color: #999;
    font-size: 0.85rem;
}
.price .discount {
    color: #d32f2f;
    font-weight: bold;
}
.price .sale-price {
    font-size: 1rem;
    font-weight: bold;
}

.product-tools {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}
.product-tools .comment img, .product-tools .like img {
    width: 15px;
    height: 14px;
}
.product-tools .cart img {
    width: 17px;
    height: 16px;
}
.product-tools .icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
